In [77]:
from bs4 import BeautifulSoup
import requests

In [78]:
url = "https://en.wikipedia.org/wiki/List_of_cities_in_the_European_Union_by_population_within_city_limits"

In [79]:
response = requests.get(url)

In [80]:
print(response.status_code)

200

In [81]:
soup = BeautifulSoup(response.text, 'html.parser')

In [82]:
# Find table element
table = soup.find('table')

In [83]:
#initialize an empty list to store the table data
data = []

In [84]:
#Iterate over each row in the table
for row in table.find_all('tr'):
    cells = [cell.get_text(strip=True) for cell in row.find_all(['th','td'])]
    data.append(cells)

In [85]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [86]:
data

[['City', 'Memberstate', 'Officialpopulation', 'Date', 'Ref'],
 ['Berlin', 'Germany', '3,755,251', '31 Dec 2022', '[1]'],
 ['Madrid', 'Spain', '3,332,035', '1 Jan 2023', '[2]'],
 ['Rome', 'Italy', '2,755,309', '1 Jan 2023', '[3]'],
 ['Paris', 'France', '2,102,650', '1 Jan 2023', '[4]'],
 ['Vienna', 'Austria', '2,006,134', '1 Jan 2024', '[5]'],
 ['Hamburg', 'Germany', '1,892,122', '31 Dec 2022', '[1]'],
 ['Warsaw', 'Poland', '1,861,644', '30 Jun 2023', '[6]'],
 ['Bucharest', 'Romania', '1,739,297', '1 Jan 2023', '[7]'],
 ['Budapest', 'Hungary', '1,671,004', '1 Jan 2023', '[8]'],
 ['Barcelona', 'Spain', '1,660,122', '1 Jan 2023', '[2]'],
 ['Munich', 'Germany', '1,512,491', '31 Dec 2022', '[1]'],
 ['Milan', 'Italy', '1,358,420', '1 Jan 2023', '[3]'],
 ['Prague', 'Czech Republic', '1,357,326', '1 Jan 2023', '[9]'],
 ['Sofia', 'Bulgaria', '1,280,334', '31 Dec 2022', '[10]'],
 ['Cologne', 'Germany', '1,084,831', '31 Dec 2022', '[1]'],
 ['Stockholm', 'Sweden', '988,943', '31 Dec 2023', '[11]'],
 ['Amsterdam', 'Netherlands', '935,521', '30 Nov 2023', '[12]'],
 ['Naples', 'Italy', '917,510', '1 Jan 2023', '[3]'],
 ['Marseille', 'France', '873,076', '1 Jan 2021', '[13]'],
 ['Turin', 'Italy', '847,398', '1 Jan 2023', '[3]'],
 ['Valencia', 'Spain', '807,693', '1 Jan 2023', '[2]'],
 ['Kraków', 'Poland', '804,237', '30 Jun 2023', '[6]'],
 ['Frankfurt', 'Germany', '773,068', '31 Dec 2022', '[1]'],
 ['Zagreb', 'Croatia', '768,624', '31 Dec 2022', '[14]'],
 ['Seville', 'Spain', '684,025', '1 Jan 2023', '[2]'],
 ['Zaragoza', 'Spain', '682,513', '1 Jan 2023', '[2]'],
 ['Helsinki', 'Finland', '675,747', '1 Feb 2024', '[15]'],
 ['Wrocław', 'Poland', '674,132', '30 Jun 2023', '[6]'],
 ['Rotterdam', 'Netherlands', '671,221', '30 Nov 2023', '[12]'],
 ['Copenhagen', 'Denmark', '659,350', '1 Jan 2024', '[16]'],
 ['Łódź', 'Poland', '655,279', '30 Jun 2023', '[6]'],
 ['Athens', 'Greece', '643,452', '23 Oct 2021', '[17]'],
 ['Stuttgart', 'Germany', '632,865', '31 Dec 2022', '[1]'],
 ['Palermo', 'Italy', '632,499', '1 Jan 2023', '[3]'],
 ['Düsseldorf', 'Germany', '629,047', '31 Dec 2022', '[1]'],
 ['Leipzig', 'Germany', '616,093', '31 Dec 2022', '[1]'],
 ['Riga', 'Latvia', '614,987', '1 Jan 2023', '[18]'],
 ['Gothenburg', 'Sweden', '604,616', '31 Dec 2023', '[11]'],
 ['Vilnius', 'Lithuania', '602,430', '1 Jan 2024', '[19]'],
 ['Dortmund', 'Germany', '593,317', '31 Dec 2022', '[1]'],
 ['Dublin', 'Ireland', '592,713', '3 Apr 2022', '[20]'],
 ['Málaga', 'Spain', '586,384', '1 Jan 2023', '[2]'],
 ['Essen', 'Germany', '584,580', '31 Dec 2022', '[1]'],
 ['Bremen', 'Germany', '569,396', '31 Dec 2022', '[1]'],
 ['The Hague', 'Netherlands', '565,817', '30 Nov 2023', '[12]'],
 ['Dresden', 'Germany', '563,311', '31 Dec 2022', '[1]'],
 ['Genoa', 'Italy', '561,191', '1 Jan 2023', '[3]'],
 ['Antwerp', 'Belgium', '548,916', '1 Feb 2024', '[21]'],
 ['Lisbon', 'Portugal', '548,703', '1 Jan 2022', '[22]'],
 ['Hanover', 'Germany', '545,045', '31 Dec 2022', '[1]'],
 ['Poznań', 'Poland', '540,146', '30 Jun 2023', '[6]'],
 ['Nuremberg', 'Germany', '523,026', '31 Dec 2022', '[1]'],
 ['Lyon', 'France', '522,250', '1 Jan 2021', '[13]'],
 ['Toulouse', 'France', '504,078', '1 Jan 2021', '[13]'],
 ['Duisburg', 'Germany', '502,211', '31 Dec 2022', '[1]'],
 ['Gdańsk', 'Poland', '486,492', '30 Jun 2023', '[6]'],
 ['Bratislava', 'Slovakia', '476,979', '1 Oct 2023', '[23]'],
 ['Murcia', 'Spain', '469,177', '1 Jan 2023', '[2]'],
 ['Tallinn', 'Estonia', '453,864', '1 Jan 2023', '[24]'],
 ['Palma de Mallorca', 'Spain', '423,350', '1 Jan 2023', '[2]'],
 ['Brno', 'Czech Republic', '396,101', '1 Jan 2023', '[9]'],
 ['Szczecin', 'Poland', '390,278', '30 Jun 2023', '[6]'],
 ['Bologna', 'Italy', '389,200', '1 Jan 2023', '[3]'],
 ['Sintra', 'Portugal', '388,767', '1 Jan 2022', '[22]'],
 ['Las Palmas', 'Spain', '378,027', '1 Jan 2023', '[2]'],
 ['Utrecht', 'Netherlands', '374,409', '30 Nov 2023', '[12]'],
 ['Aarhus', 'Denmark', '367,095', '1 Jan 2024', '[16]'],
 ['Bochum', 'Germany', '365,742', '31 Dec 2022', '[1]'],
 ['Florence', 'Italy', '362,742', '1 Jan 2023', '[3]'],
 ['Malmö', 'Sweden', '362,133', '31 Dec 2023', '[11]'],
 ['Wuppertal', 'Germany', '358,876', '31 Dec 2022', '[1]'],
 ['Alicante', 'Spain', '349,282', '1 Jan 2023', '[2]'],
 ['Nice', 'France', '348,085', '1 Jan 2021', '[13]'],
 ['Bilbao', 'Spain', '346,096', '1 Jan 2023', '[2]'],
 ['Bielefeld', 'Germany', '338,332', '31 Dec 2022', '[1]'],
 ['Bonn', 'Germany', '336,465', '31 Dec 2022', '[1]'],
 ['Lublin', 'Poland', '330,447', '30 Jun 2023', '[6]'],
 ['Bydgoszcz', 'Poland', '328,370', '30 Jun 2023', '[6]'],
 ['Córdoba', 'Spain', '323,763', '1 Jan 2023', '[2]'],
 ['Nantes', 'France', '323,204', '1 Jan 2021', '[13]'],
 ['Plovdiv', 'Bulgaria', '321,824', '31 Dec 2022', '[10]'],
 ['Münster', 'Germany', '320,946', '31 Dec 2022', '[1]'],
 ['Varna', 'Bulgaria', '319,900', '31 Dec 2022', '[10]'],
 ['Thessaloniki', 'Greece', '319,045', '23 Oct 2021', '[17]'],
 ['Bari', 'Italy', '316,736', '1 Jan 2023', '[3]'],
 ['Mannheim', 'Germany', '315,554', '31 Dec 2022', '[1]'],
 ['Espoo', 'Finland', '314,821', '1 Feb 2024', '[15]'],
 ['Karlsruhe', 'Germany', '308,707', '31 Dec 2022', '[1]'],
 ['Vila Nova de Gaia', 'Portugal', '307,563', '1 Jan 2022', '[22]'],
 ['Kaunas', 'Lithuania', '304,198', '1 Jan 2024', '[19]'],
 ['Graz', 'Austria', '303,270', '1 Jan 2024', '[25]'],
 ['Montpellier', 'France', '302,454', '1 Jan 2021', '[13]'],
 ['Augsburg', 'Germany', '301,033', '31 Dec 2022', '[1]']]

In [87]:
df = pd.DataFrame(data[1:], columns = data[0])

In [88]:
df.head()

     City Memberstate Officialpopulation         Date  Ref
0  Berlin     Germany          3,755,251  31 Dec 2022  [1]
1  Madrid       Spain          3,332,035   1 Jan 2023  [2]
2    Rome       Italy          2,755,309   1 Jan 2023  [3]
3   Paris      France          2,102,650   1 Jan 2023  [4]
4  Vienna     Austria          2,006,134   1 Jan 2024  [5]

In [89]:
#sns.barplot(x='Country', y='Officialpopulation', data = df)
#plt.show()

In [95]:
df.shape

(93, 5)

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   City                93 non-null     object
 1   Memberstate         93 non-null     object
 2   Officialpopulation  93 non-null     object
 3   Date                93 non-null     object
 4   Ref                 93 non-null     object
dtypes: object(5)
memory usage: 3.8+ KB